{% extends "base.html" %}

{% block content %}
<nav>
	<h4>Notes</h4>
	<div>
		{% set section = get_section(path="blog/_index.md") %}
		{% for post in section.pages | slice(end=100) %}
			<a href="{{ post.permalink }}">{{ post.title }}</a>
		{% endfor %}
		<!-- <a href='/blog' class='more'>more</a> -->
	</div>
	<h4>Notas (en español)</h4>
	<div>
		{% set notas_section = get_section(path="notas/_index.md") %}
		{% for post in notas_section.pages | slice(end=100) %}
			{% set day = post.date | date(format="%d") | int %}
			{% set month_num = post.date | date(format="%m") | int %}
			{% set year = post.date | date(format="%Y") %}
			{% set months = ["", "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"] %}
			<a href="{{ post.permalink | safe }}" style="white-space: nowrap;">{{ day }} {{ months[month_num] }} {{ year }}</a>
		{% endfor %}
		<!-- <a href='/notas' class='more'>más</a> -->
	</div>
	<h4>Projects</h4>
	<div>
		<a href='https://markers.ai'>Markers</a>
	</div>
	<h4>Elsewhere</h4>
	<div>
		<a href='https://github.com/sllvn'>Github</a>
		<a href='https://indieweb.social/@sllvn'>@sllvn@indieweb.social</a>
		<a href='https://twitter.com/licyeus'>Twitter</a>
	</div>
</nav>
{% endblock %}
