{% extends "base.html" %}
{% import "shortcodes/date_title.html" as date_title %}

{% block content %}
<div class="notas-listing">
  {% for page in section.pages | slice(end=20) %}
    <article class="nota-full">
      <header>
        {% if page.title %}
          <h2><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h2>
          <div class="date">{{ page.date | date(format="%Y-%m-%d") }}</div>
        {% else %}
          <h2><a href="{{ page.permalink | safe }}">{{ date_title::date_title(date=page.date) }}</a></h2>
        {% endif %}
      </header>
      <div class="content">
        {{ page.content | safe }}
      </div>
    </article>
    <div class="image-gallery">
      {% for asset in page.assets -%}
        {%- if asset is matching("[.](jpg|png)$") and not (asset is containing("assets/")) -%}
          {% set image = resize_image(path=asset, width=250, height=250) %}
          <a href="{{ get_url(path=asset) }}" target="_blank">
            <img src="{{ image.url }}" />
          </a>
        {%- endif %}
      {%- endfor %}
    </div>
    {% if not loop.last %}
      <div style="margin-bottom: 4rem;"></div>
    {% endif %}
  {% endfor %}
</div>
{% endblock %}
